Thesis/build
Presentation/build
*.aux
*.idx
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc*
*.out
*.pdf
*.gz
*.toc
*.upa
*.bbl
*.blg
*.upb
*.ilg
*.fls
*.ind
*.fdb_latexmk
.directory
*.bcf
*.xml
*.md5
*.dpth
*.auxlock
*.pds
*.backup
